main h4 {
	text-decoration: underline;
	color: darkgoldenrod; 
}

.container{
	font-size: smaller; 
}

.row div #eduName {
	font-weight: bolder;
}

.row div #eduDate {
	font-style: italic;
}

.row div #eduDeg {
	font-weight: bold;
}

.row div #eduDesc {
	font-size: small;
}