main h4 {
	text-decoration: underline;
	color: darkgoldenrod; 
}

.container{
	font-size: smaller; 
}

.row div #eduName .row div #expName {
	font-weight: bolder;
}

.row div #eduDate, .row div #expDate {
	font-style: italic;
}

.row div #eduDeg, .row div #expTitle {
	font-weight: bold;
}

.row div #eduDesc, .row div expDesc {
	font-size: small;
}